server{
    server_name wwww.{{ item.name }};
    return 301 $scheme://{{ item.name }}$request_uri;
}

server{
    listen {{ item.port }}
    server_name {{ item.name }};
    root /var/wwww/{{ item.name }};
    index index.html
}